.section.places {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 20px;
}

.section.places .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px; 
    margin: 0 auto;
}

/* Styles for smaller screens */
@media (max-width: 768px) {
    .section.places article {
        width: calc(50% - 40px); /* Two articles per row */
    }
}

@media (max-width: 480px) {
    .section.places article {
        width: calc(100% - 40px); /* One article per row */
    }
}

.section.places article {
    width: 390px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    position: relative;
}

.section.places h1 {
    font-size: 30px;
    text-align: left;
    margin-bottom: 20px;
    width: 100%;
}

.section.places article h2{
    font-size: 30px;
    text-align: center;
}

.price_by_night {
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    line-height: 60px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.information {
    height: 80px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    display: flex;
    align-items: center;
}

.max_guest,
.number_rooms,
.number_bathrooms {
    flex: 1;
    margin: 0 20px;
}

.user,
.description {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 10px;
}

.information div .icon {
    width: 50px;
    height: 50px;
    background-size: contain;
}

.max_guest .icon {
    background-image: url("../images/icon_group.png");
}

.number_rooms .icon {
    background-image: url("../images/icon_bed.png");
}

.number_bathrooms .icon {
    background-image: url("../images/icon_bath.png");
}

.section.places .amenities {
    margin-top: 20px;
    padding-top: 20px;
    border-top-style: none;
}

.section.places .amenities h2 {
    text-align: left;
    font-size: 16px;
    border-bottom: 1px solid #DDDDDD;
}

.section.places .amenities ul {
    list-style-type: none;
    padding: 0;
}

.section.places .amenities ul li {
    align-items: center;
    display: flex;
    margin-bottom: 10px;
}

.section.places .amenities ul li .icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    background-size: contain;
}

.section.places .reviews {
    margin-top: 20px;
    padding-top: 20px;
    text-align: left;
    border-top-style: none;
}

.section.places .reviews h2 {
    text-align: left;
    font-size: 16px;
    border-bottom: 1px solid #DDDDDD;
}

.section.places .reviews ul {
    list-style-type: none;
    padding: 0;
}

.section.places .reviews ul li {
    margin-bottom: 20px;
}

.section.places .reviews ul li h3 {
    font-size: 14px;
}

.section.places .reviews ul li p {
    font-size: 12px;
}
