header {
    background-color: #FF0000;
    color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
    padding-left: 20px; /* Space for the logo */
}

.logo {
    margin-right: 20px; /* Space at the left */
}
